[submodule "external/gh_yara-rules"]
	path = external/gh_yara-rules
	url = https://github.com/Yara-Rules/rules
[submodule "external/gh_ahhh-YARA"]
	path = external/gh_ahhh-YARA
	url = https://github.com/ahhh/YARA
[submodule "external/gh_citizenlab-malwaresignatures"]
	path = external/gh_citizenlab-malwaresignatures
	url = https://github.com/citizenlab/malware-signatures
[submodule "external/gh_nbssystem-phpmalwarefinder"]
	path = external/gh_nbssystem-phpmalwarefinder
	url = https://github.com/nbs-system/php-malware-finder
[submodule "external/gh_sysforensics-yararules"]
	path = external/gh_sysforensics-yararules
	url = https://github.com/sysforensics/YaraRules
